<!DOCTYPE html>
<html>
<head>
	<title>SupplyFrame</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tooltips.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        (function () {
            // body of the function
        }());
    </script>
    <script type ="text/javascript" src="/js/setProjects.js"></script>
</head>
<body>
    <header>
        <h1>Project Page: <%= project.name %></h1>
    </header>
    <table>
        <% for(var key in project){ %>
        <tr>
            <th><%= key %></th>
            <% if(key === 'tags'){ %>
            <td>
                <% for(var j=0; j < project[key].length; j++){ %>
                <span class="<%= project[key][j] %>tag tag" onclick="getReccs(event,this)"><%= project[key][j] %></span>
                <% } %>
            </td>  
            <% } else{ %>
            <td><%= project[key] %></td>
            <% } %>
        </tr>
        <% } %>
    </table>
    <main>
        <h5>Recommended Projects (Click on an individual tag, above)</h5>
        <fieldset>
                <legend class='pageList'>
                </legend>
                <span class='viewList'>
                </span>
        
                <div id='projectsContainer'>
                </div>
        
        </fieldset>
    </main>
</body>
</html>